.sample-token-container {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    .hvc-token-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 7px;

       .hvc-token {
        font-size: 12px;
       }

        .mint-token {
            height: 90px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        .token-logo {
            width: 90px;
            height: 50px;
            object-fit: scale-down;
            border-radius: 15px;
        }
    }    
}
